@tailwind base;
@tailwind components;
@tailwind utilities;

.LazyLoad {
  opacity: 0;
  transition: all 2s ease-in-out;
}

.active {
  padding-left: 10px;
  padding-right: 10px;

  border-radius: 18px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 203, 59);
}

.fontStyle{
  font-family: 'Merienda', cursive;
}
.body-font{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;

}
.text-font{
  font-family: 'Style Script', cursive;
}