@tailwind base;
@tailwind components;
@tailwind utilities;

.LazyLoad {
  opacity: 0;
  transition: all 2s ease-in-out;
}

.active {
  padding-left: 10px;
  padding-right: 10px;

  border-radius: 18px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 203, 59);
}


.text-font{
  font-family: 'Style Script', cursive;
}
.chicle{
font-family: 'Chicle', cursive;
}

.merienda{
font-family: 'Merienda', cursive;
}
.poppins{
font-family: 'Poppins', sans-serif;
}
.rye{
font-family: 'Rye', cursive;
}

/* -- */